.main-content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
}
  
app-sidebar {
    width: 20%;
    height: 100%;
    background-color: #f0f0f0;
}
  
app-content {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
}